[Unit]
Description=Vaultwarden
PartOf=vaultwarden.target
After=vaultwarden-postgres.service
Wants=vaultwarden-postgres.service

[Container]
ContainerName=vaultwarden
Image=ghcr.io/polarix-containers/vaultwarden:latest
AutoUpdate=ghcr.io/polarix-containers/vaultwarden:latest

PublishPort=8080:8080
Network=vaultwarden--vaultwarden-postgres.network

Volume=/srv/vaultwarden:/data
ReadOnly=true

EnvironmentFile=/srv/vaultwarden-postgres.env
EnvironmentFile=/srv/vaultwarden.env
User=200003
Group=200003

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
PrivateIPC=true
PrivateTmp=true
ProtectClock=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/containers/storage -/srv/vaultwarden
RestrictRealtime=true
RestrictSUIDSGID=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=vaultwarden.target