[Unit]
Description=Vaultwarden PostgreSQL
PartOf=vaultwarden.target

[Container]
ContainerName=vaultwarden-postgres
Image=ghcr.io/polarix-containers/postgres:17
AutoUpdate=ghcr.io/polarix-containers/postgres:17

Network=vaultwarden--vaultwarden-postgres.network

Volume=/srv/vaultwarden-postgres:/var/lib/postgresql/data
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/run/postgresql
EnvironmentFile=/srv/vaultwarden-postgres.env
User=200012
Group=200012

NoNewPrivileges=true
DropCapability=ALL

HealthCmd=pg_isready -U vaultwarden
HealthInterval=15s
HealthTimeout=5s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
ProtectHostname=true
ProtectKernelModules=true
ProtectSystem=full
RestrictRealtime=true
RestrictSUIDSGID=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=vaultwarden.target