[Unit]
Description=Vaultwarden
PartOf=vaultwarden.target
After=vaultwarden-postgres.service
Requires=vaultwarden-postgres.service

[Container]
ContainerName=vaultwarden
Image=ghcr.io/polarix-containers/vaultwarden:latest
AutoUpdate=ghcr.io/polarix-containers/vaultwarden:latest

PublishPort=8080:8080
Network=vaultwarden--vaultwarden-postgres.network

Volume=/srv/vaultwarden:/data
ReadOnly=true

EnvironmentFile=/srv/vaultwarden-postgres.env
EnvironmentFile=/srv/vaultwarden.env
User=200003
Group=200003

NoNewPrivileges=true
DropCapability=ALL

[Service]
PrivateTmp=true
ProtectClock=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true

Restart=always

[Install]
WantedBy=vaultwarden.target